language: python
python:
  - '2.7'
  - '3.3'
  - '3.4'
  - 'pypy'
before_install:
  - pip install nose
  - pip install coverage
install: pip install -r requirements.txt
script: make test
notifications:
  email:
    recipients:
      - benjamin@bengfort.com
    on_success: change
    on_failure: always
