language: python
python:
  - '2.7'
  - '3.3'
install: pip install -r requirements.txt --use-mirrors
before-script: 
    - pip install nose
    - pip install coverage
script: make test
notifications:
  email:
    recipients:
      - benjamin@bengfort.com
    on_success: change
    on_failure: always
