## Confire requirements
PyYAML>=4.2b1
six>=1.11.0

## Testing/Development requirements
## Uncomment to contribute or update
#apipkg==1.4
#coverage==4.4.2
#execnet==1.5.0
#py==1.4.34
#pyflakes==1.6.0
#pytest-cache==1.0
#pytest-cov==2.5.1
#pytest-flakes==2.0.0
#pytest==3.2.3

## Added by virtualenv
#pip==9.0.1
#setuptools==28.8.0
#virtualenv==15.1.0
#wheel==0.30.0
